# Compiled class file
*.class

.project
.classpath
.settings/
.gradle/
gradlew.bat
*.iml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
custom/
custom1/
custom2/
custom3/
build/
onejar/jrrutilities.jar
firstdownload/javarunner.bat
firstdownload/javarunnerw.bat
firstdownload/.gradle/
firstdownload/build/
firstdownload/logs/
firstdownload/jrrdownload/
JrrUtilities/.gradle/
JrrUtilities/build/
JrrStarter/build/
JrrStarter/.gradle/
JrrInit/build/
JrrInit/.gradle/
libs/copy/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
